* {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}

body {
    background-color: #393D3F;
}

.container {
    max-width: 1200px;
    margin: 120px auto 0; /* Added top margin to account for fixed header */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #dbc771;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.header.hidden {
    transform: translateY(-100%);
}

.header-logo img {
    height: 100px;
    transition: transform 0.3s ease-in-out;
}

.header-logo img:hover {
    transform: scale(1.1);
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-button {
    text-decoration: none;
    color: #393D3F;
    font-size: 18px;
    margin: 0 15px;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

.header-button:hover {
    color: #fff;
}

.cart {
    height: 35px;
    width: 35px;
    margin-right: 15px;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.cart:hover {
    transform: scale(1.1);
}

h1 {
    color: #dbc771;
    margin-bottom: 20px;
    text-align: center;
}

.cart-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    flex-direction:row;
}

table {
    flex: 1;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

td img {
    vertical-align: middle;
    max-width: 100px; /* Set a maximum width for images */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

td.text-cell {
    width: calc(100% - 120px); /* Adjust width based on image size */
}

th {
    background-color: #dbc771;
    color: white;
}

.summary {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.total {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20px;
}

/*.gift-code {*/
/*    display: flex;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.gift-code input {*/
/*    flex: 1;*/
/*    padding: 10px;*/
/*    border: 1px solid #ddd;*/
/*}*/

/*.gift-code button {*/
/*    background-color: #dbc771;*/
/*    color: white;*/
/*    border: none;*/
/*    padding: 10px 15px;*/
/*    cursor: pointer;*/
/*}*/

.checkout-btn {
    width: 100%;
    background-color: #6ff662;
    color: black;
    border: none;
    padding: 15px;
    font-size: 1em;
    cursor: pointer;
}
.quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-button {
    background-color: #dbc771;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-button:hover {
    background-color: #b8a356;
    transform: scale(1.1);
}

.remove-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    width: 30px; /* Set width and height to the same value */
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-button:hover {
    background-color: #e04343;
    transform: scale(1.1);
}
@media (max-width: 1000px) {
    .cart {
        height: 25px;
        width: 25px;
        margin-left: 15px;
    }

    .header-logo img {
        height: 70px;
    }

    .header-button {
        font-size: 17px;
        margin: 0 5px;
        font-weight: 400;
    }

    .bee-board {
        height: 300px;
    }

    .bee-board-cont {
        flex-direction: column;
    }

    .recommended-h-popular {
        font-size: 58px;
        margin-top: 0px;
    }

    .recommended-p {
        font-size: 16px;
        margin-top: 30px;
    }
}
.flex{
    display:flex;
}

@media (max-width: 700px) {
    .cart {
        height: 20px;
        width: 20px;
        margin-left: 10px;
    }
    .quantity-button{
        width:20px;
        height:20px;
    }
    .remove-button{
        width:20px;
        height:20px;
    }
    .flex{
        display:none;
    }
    .summary{
        width:200px;
    }
    th, td{
        padding:5px;
    }
    .total{
        font-size:13px;
    }
    .cart-container{
        flex-direction: column;
    }
    .header-logo img {
        height: 50px;
    }

    .header-button {
        font-size: 15px;
        margin: 0 5px;
        font-weight: 300;
    }

    .bee-board {
        height: 250px;
    }

    .bee-board-cont {
        flex-direction: column;
    }

    .recommended-h-popular {
        font-size: 50px;
        margin-top: 10px;
    }

    .recommended-p {
        font-size: 15px;
        margin-top: 20px;
    }

    .product-container {
        flex-direction: column;
    }

    .product-image-container {
        height: 300px;
    }

    .product-details {
        width: 90%;
    }

    .popular-details {
        width: 160px;
        font-size: 12px;
        margin-left: 10px;
    }

    .new-items {
        flex-wrap: wrap;
    }

    .carousel-item-elsa,
    .carousel-item-potter,
    .carousel-item-stitch,
    .carousel-item-joy {
        width: 300px;
        margin-bottom: 15px;
    }

    .product-image {
        height: 300px;
    }
}
@media (max-width: 700px) {
    /* Assuming "kopsumma" is the one before the last column of the table */
    td:nth-last-child(2), th:nth-last-child(2) {
        display: none;
    }
}
@media (max-width: 320px) {
    .cart {
        height: 15px;
        width: 15px;
        margin-left: 5px;
    }
    .flex{
        display:none;
    }
    .header-logo img {
        height: 40px;
    }

    .header-button {
        font-size: 14px;
        margin: 0 3px;
        font-weight: 300;
    }

    .bee-board {
        height: 200px;
    }

    .bee-board-cont {
        flex-direction: column;
    }

    .recommended-h-popular {
        font-size: 45px;
        margin-top: 5px;
    }

    .recommended-p {
        font-size: 14px;
        margin-top: 10px;
    }

    .product-container {
        flex-direction: column;
    }

    .product-image-container {
        height: 250px;
    }

    .product-details {
        width: 85%;
    }

    .popular-details {
        width: 140px;
        font-size: 11px;
        margin-left: 5px;
    }

    .new-items {
        flex-wrap: wrap;
    }

    .carousel-item-elsa,
    .carousel-item-potter,
    .carousel-item-stitch,
    .carousel-item-joy {
        width: 280px;
        margin-bottom: 10px;
    }

    .product-image {
        height: 250px;
    }
    .cart-container{
        flex-direction: column;
    }
}